body {
    background-image: url('sad.jpg');
}
.sadhed {
    color: aqua;
    text-align: center;
    font-size: 50px;
}
.container {
    
    color: #0fe507;
    align-content: center;
    height: auto;
    border-radius: 10px;
    background-color: #062b41;
    height: auto;
    padding: 20px;
}
.qustion {
    color: #04d95c;
}
.inbengla {
    color: #08cfee;
    text-decoration: underline;
}
.answer {
    color: #ffffff;
}
.home {
    background-color: #0fe507;
    color: aqua;
    font-size: 30px;
    text-align: center;
}